* {
    margin: 0;
    padding: 0;
}
#menu-list {
    list-style: none;
    padding-left: 0;
}
#sidebar {
    position: absolute;
    left: 0px;
    width: 40px;
    background-color: #1d1d21;
    padding-top: 100px;
    min-height: 100%;
    z-index: 100;
    transition: left 1s ease;
}
.item {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    /* font-family: 'Microsoft YaHei'; */
    text-align: center;
    cursor: pointer;
}
/* .item:hover {
    background-color: #4d555d;
} */
.item .material-icons {
    color: #808792;    
    line-height: 50px;
}
/* .item .material-icons:hover {
    color: #f01400;
} */
.item-tip {
    position: absolute;
    left: -50px;
    width: 50px;
    color: #f01400;
    background-color: #4d555d;
    border-right: 2px solid #f01400;
    transition: left .5s ease;
    z-index: -1;
}
#closeBar {
    position: absolute;
    left: 5px;
    bottom: 30px;
    transition: left 1s ease;
}
#closeBar .material-icons {
    color: #f01400;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}
.nav-content{
    position: fixed;
    left: -200px;
    width: 200px;
    min-height: 100%;
    /* background-color:#2299c9; */
    background: #808792;
    color: whitesmoke;
    border-right: 2px solid #f01400;
    transition: left 1s ease;
    z-index: 99;
    opacity: .9;
}
.con-topic {
    margin-top: 8px;
    margin-left: 5px;
}
.nav-con-close{
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
}
.nav-content .material-icons:hover {
    color: #f01400;
}